.arrow-right-8::after {
  right: 4rem
}
.arrow-right-2::after {
  right: 1rem
}
.arrow-up::after {
  content: "";
  display: block;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent white;
  margin-left: -10px;
  position: absolute;
  top: -10px;
}