/*flexbox */
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.flex {
  display: flex
}
.flex-grow {
  flex-grow: 1
}
.flex-col {
  flex-direction: column;
}

/* background-color */
.bg-green-700	{
  background-color: #2f855a;
}
.bg-gray-400	{
  background-color: #cbd5e0;
}
.bg-main {
  background-color: rgb(228, 224, 223);
}
.bg-white {
  background-color: white;
}

/* text-color */
.text-gray-700 {
  color:  #4a5568
}
.text-white	{
  color: #fff;
}

/* margins */
.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem
}
.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-10 {
  margin-top: 5rem;
}
.mr-1 {
  margin-right: 0.5rem;
}
.ml-1 {
  margin-left: 0.5rem;
}

/* paddings */
.px-1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-2 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}

/* height */
.h-2 {
  height: 1rem
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}	

/*width*/
.w-full {
  width: 100%;
}
.w-2 {
  width: 1rem
}

/*max-width*/
.max-w-xs-70 {
  max-width: 15rem;
}
.max-w-xs {
  max-width: 20rem;
}	
.max-w-xs-50 {
  max-width: 10rem;
}

/*box-shadow*/
.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05)
}

/*positions*/
.relative {
  position: relative
}

/*font-weight*/
.font-medium {
  font-weight: 500;
}

/*border*/
.border {
  border-width: 1px;
}	
.border-b	{
  border-width: 0 0 1px;
}
.border-r	{
  border-width: 0 0 0 1px;
}
.border-solid	{
  border-style: solid;
}
.border-gray-200 {
  border-color: #edf2f7;
}	

/*left right top bottom*/
.right-0 {
  right: 0;
}