.arrow-down::after {
  content: "";
  display: block;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #4a5568 transparent transparent ;
  margin-left: -10px;
  position: absolute;
  left: 50%;
}