input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  border-radius: 50px;
  height: 3px;
  width: 200px;
  direction: rtl
}
input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  border-radius: 5px;
  height: 10px;
  cursor: ew-resize;
  background: gray;
}
#red {
  background: linear-gradient(-90deg, rgb(0,0,0), rgb(255,0,0));
}
#green {
  background: linear-gradient(-90deg, rgb(0,0,0), rgb(0,255,0));
}
#blue {
  background: linear-gradient(-90deg, rgb(0,0,0), rgb(0,0,255));
}
label {
  margin-left: 5px;
  position: relative;
  top: -2px;
}